body {
    font-family: Arial, sans-serif;
    background: #f4f7fb;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    margin: 0;
}

.login-box {
    background: white;

    width: 350px;

    padding: 35px;

    border-radius: 15px;

    box-shadow: 0 5px 20px rgba(0,0,0,0.15);

    text-align: center;
}

.login-box h1 {
    color: #1e88e5;
}

.login-box p {
    color: #666;
}

.login-box label {
    display: block;

    text-align: left;

    margin-top: 15px;

    font-weight: bold;
}

.login-box input {
    width: 100%;

    padding: 12px;

    margin-top: 5px;

    box-sizing: border-box;

    border: 1px solid #ccc;

    border-radius: 8px;
}

.login-box button {
    width: 100%;

    padding: 12px;

    margin-top: 25px;

    border: none;

    border-radius: 8px;

    background: #1e88e5;

    color: white;

    font-size: 16px;

    cursor: pointer;
}